#addItemPane{
    -fx-background-color: white;
}
#tfItemName{
    -fx-prompt-text-fill: #3D4956;
    -fx-unfocus-color: #3D4956;
    -fx-focus-color: #3D4956;
    -fx-text-fill: #3D4956;
}

.cbStyle{
    -fx-font-size: 19;
    -fx-text-fill: #3D4956;
}
#tfQuantity{
    -fx-prompt-text-fill: #3D4956;
    -fx-unfocus-color: #3D4956;
    -fx-focus-color: #3D4956;
    -fx-text-fill: #3D4956;
}

#qText{
    -fx-fill: #3D4956;
}

#tfDescription{
    -fx-prompt-text-fill: #3D4956;
    -fx-unfocus-color: #3D4956;
    -fx-focus-color: #3D4956;
    -fx-text-fill: #3D4956;
}

#btnInsert{
    -fx-prompt-text-fill: #3D4956;
    -fx-unfocus-color: #3D4956;
    -fx-focus-color: #3D4956;
    -fx-text-fill: #3D4956;
    -fx-faint-focus-color: #3D4956;
}

.jfx-text-field{
    -fx-pref-height:3;
    -jfx-unfocus-color: #3D4956;
    -jfx-focus-color: red;
}

.jfx-combo-box {
    -fx-pref-height:3;
    -jfx-unfocus-color: #3D4956;
    -jfx-focus-color: red;
    -fx-font-size: 19;
    -fx-text-fill: #3D4956;
    -fx-prompt-text-fill: #3D4956;
    -fx-faint-focus-color: #3D4956;
}

.text-field{
    -fx-font-size: 19;
    -fx-text-fill: #3D4956;
    -fx-prompt-text-fill: #3D4956;
    -fx-faint-focus-color: #3D4956;
}