.labelStyle{
    -fx-font-size: 25;
    -fx-text-fill: white;
    -fx-faint-focus-color: white;
}
#addItemPane{
    -fx-background-color: #33363F;
}
#tfItemName{
    -fx-prompt-text-fill: white;
    -fx-unfocus-color: white;
    -fx-focus-color: white;
    -fx-text-fill: white;
    -fx-faint-focus-color: white;
}
#tfQuantity{
    -fx-prompt-text-fill: white;
    -fx-unfocus-color: white;
    -fx-focus-color: white;
    -fx-text-fill: white;
    -fx-faint-focus-color: white;
}

#qText{
    -fx-fill: white;
}

#tfDescription{
    -fx-prompt-text-fill: white;
    -fx-unfocus-color: white;
    -fx-focus-color: white;
    -fx-text-fill: white;
    -fx-faint-focus-color: white;
}

#btnInsert{
    -fx-prompt-text-fill: white;
    -fx-unfocus-color: white;
    -fx-focus-color: white;
    -fx-text-fill: white;
    -fx-faint-focus-color: white;
}

.jfx-text-field{
    -fx-pref-height:3;
    -jfx-unfocus-color: white;
    -jfx-focus-color: red;
    -fx-text-fill: white;
}

.jfx-combo-box {
    -fx-pref-height:3;
    -jfx-unfocus-color: white;
    -jfx-focus-color: red;
    -fx-font-size: 19;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-faint-focus-color: white;
}

.text-field{
    -fx-font-size: 19;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-faint-focus-color: white;
}
.jfx-text-area{
    -jfx-unfocus-color: white;
    -jfx-focus-color: red;
    -fx-text-fill: white;
}