#loginPane {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

#loginBT {
    -fx-background-color: transparent;
    -fx-text-fill: #3D4956;
}

#registerBT {
    -fx-background-color: transparent;
    -fx-text-fill: #3D4956;
}

#userNameField {
    -fx-prompt-text-fill: #3D4956;
    -fx-unfocus-color: #3D4956;
    -fx-focus-color: #3D4956;
}

#nameField {
    -fx-prompt-text-fill: #3D4956;
    -fx-unfocus-color: #3D4956;
    -fx-focus-color: #3D4956;
}

#passwordField {
    -fx-prompt-text-fill: #3D4956;
    -fx-unfocus-color: #3D4956;
    -fx-focus-color: #3D4956;
}

.jfx-text-field {
    -fx-pref-height: 3;
    -jfx-unfocus-color: #3D4956;
    -jfx-focus-color: red;
}

.jfx-password-field {
    -fx-pref-height: 3;
    -jfx-unfocus-color: #3D4956;
    -jfx-focus-color: red;
}

#falseInputField {
    -fx-text-fill: #3D4956;
    -fx-fill: #3D4956;
    -fx-font-size: 14;
}