#rentManagerPane {
    -fx-background-color: #33363F;
    -fx-text-fill: white;
    -fx-fill: white;
}

#textStyle {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-fill: white;
    -fx-font-size: 30px;
}

.progress-bar .bar {
    -fx-background-color: #F06060;
}