#rentManagerPane {
    -fx-background-color: white;
    -fx-font-size: 20px;
    -fx-fill: white;
    -fx-text-fill: #33363F;
}

#textStyle {
    -fx-text-fill: #33363F;
    -fx-prompt-text-fill: #33363F;
    -fx-fill: #33363F;
}

.progress-bar .bar {
    -fx-background-color: #F06060;
}